.container {
  display: grid;
  grid-template-columns: auto;
}

* {
  box-sizing: border-box;
}

#titleForm {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 0 8px 0;
  text-align: center;
}

.card {
  box-shadow: 6px 8px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px 40px;
  position: relative;
  margin: 2em 4em;
}

form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}
.subTitle {
  text-transform: capitalize;
  margin-right: 2em;
}
tr {
  padding: 5px 0 5px 0;
}

table {
  margin: 0 auto;
}

td {
  padding: 5px;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
  border: groove;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

input[type="text"]:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

input[type="date"] {
  border-radius: 5px;
  border: groove;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}
input[type="date"]:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: groove;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
}

textarea:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

select:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #4bc5f5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 50%;
}

button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background-color: rgb(45, 127, 250);
}
